html{
    background: white;
}
body{
    background: #000;
    color: #FFF;
}

header figure{
    text-align: center;
}

header figure img{
    width: 70%;
}

nav ul, nav li{
    width: 100%;
    background: #FFF;
    
    list-style: none;
    
    color: black;
    text-align: center;
}

section{
    padding: 2vw;
}

section figure img{
    width: 60%;
}

div.actorDesc figure img{
    width: 50%;
}

section figure figcaption{
    font-style: italic;
    font-size: 0.7em;
}

footer{
    background: #777;
    text-align: center;
}

@media (min-width: 600px){
    div.actorDesc figure img{
        width: 100%;
    }

}