/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-mar-2016, 13:16:29
    Author     : Raul
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
}

body{
    width: 100%;
}

header{
    width: 100%;
}

div#slideshow{
    display: none;
}

nav{
    width: 100%;
}

section{
    width: 100%;
    text-align: justify;
}

footer{
    width: 100%;
}

img{
    width: 100%;
}

figure{
    text-align: center;
}

@media (min-width: 600px){
    html{
        width: 100%;
    }

    body{
        margin: 0 auto;
        width: 60%;
        box-shadow: black 0 0 2vw;
    }
    
    div#slideshow{
        background: #ccc;
        height: 30vw;
        display: block;
    }
    
    div#slideshow img{
        height: 100%;
        border: 0.5vw solid white;
    }
    
    div#slideshow figure.item{
        width: 100%;
        height: 100%;
    }
    
    nav ul li{
        display: inline-block;
        width: 20%;
    }
    
    nav ul li:hover{
        cursor: default;
        background: #ccc;
    }
    
    nav ul li:nth-child(1){
        display: none;
    }
    
    div.actor{
        margin-top: 2vh;
        padding: 2vh 0 2vh 0;
    }
    
    div.actorDesc{
        padding-top: 2vh;
    }
    
    div.actorDesc figure{
        width: 28%;
        float: left;
    }
    
    div.actorDesc p{
        width: 70%;
        float: right;
    }
    
    div.actorDesc hr{
        opacity: 0;
        clear: both;
    }
    footer p{
        font-size: 0.8em;
        float:left;
        width: 45%;
    }
    
    footer p:nth-child(1){
        margin:1vw;
        margin-right: 0;
        text-align: left;
        float:left;
    }
    
    footer p:nth-child(2){
        margin:1vw;
        margin-left: 0;
        text-align: right;
        float:right;
    }
    
    footer a{
        color: white;
    }
    footer hr{
        clear: both;
    }
}